/* 
Dark BG color: #1e293b
Main Font color: #94A3B8
Accent color: #22d3ee
Header Font color: #f8fafc
*/

:root {
    --main-font-family: "Noto Sans JP", sans-serif;
    --main-bg-color: #1e293b;
    --main-font-color: #94a3b8;
    --accent-color: #22d3ee;
    --header-font-color: #f8fafc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--main-font-family);
    font-size: 62.5%;
    color: var(--main-font-color);
}

body {
    background-color: var(--main-bg-color);
    font-size: 2rem;
    line-height: 1.3;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 25px;
    position: fixed;
    width: 100%;
}

header .desktop-only {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar .mobile-only .hamburger {
    display: flex;
    height: 30px;
    width: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.navbar .mobile-only .hamburger .bar {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background: var(--accent-color);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .mobile-only .hamburger .bar::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0px;
    width: 120%;
    height: 2px;
    border-radius: 4px;
    background: var(--accent-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .mobile-only .hamburger .bar::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    bottom: -10px;
    width: 80%;
    height: 2px;
    border-radius: 4px;
    background: var(--accent-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .mobile-only .hamburger .bar.open {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    background: transparent;
}

.navbar .mobile-only .hamburger .bar.open::before {
    width: 100%;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar .mobile-only .hamburger .bar.open::after {
    width: 100%;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    text-align: center;
    height: 45px;
    width: 45px;
}

.logo a img {
    height: 100%;
}

.mobile-nav {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    font-size: 1.6rem;

    /* Off Canvas Nav */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: min(75vw, 400px);
    outline: 0px;
    transform: translateX(100vw);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 90;
}

.mobile-nav.open {
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    background-color: var(--main-bg-color);
    transform: translateX(0vw);
    visibility: visible;
    z-index: 0;
}

.mobile-nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.mobile-nav .nav-links .nav-link {
    display: flex;
    flex-direction: column;
    counter-increment: nav-counter 1;
    margin: 0px auto 10px;
    padding: 3px 20px 20px;
}

.mobile-nav .nav-links .nav-link::before {
    content: "0" counter(nav-counter) ".";
    color: var(--accent-color);
}

main {
    padding: 0 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

body.blur main > * {
    filter: blur(5px) brightness(0.7);
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.hero-content {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    max-width: 1000px;
    padding: 0px;
    padding-bottom: 10vh;
}

.hero-content h3 {
    color: var(--accent-color);
    font-size: 1.6rem;
}
.hero-content h1 {
    color: var(--header-font-color);
    font-size: 4rem;
}
.hero-content h2 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.6rem;
    margin: 20px 0 0;
    max-width: 540px;
}

.hero-content .contact-link {
    color: var(--accent-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 20px 28px;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}
